<!DOCTYPE html>
<html>
<head>
<title data-th-text="|Cereebro : ${system.name}|">Cereebro</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
  data-th-href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <h1 data-th-text="${system.name}">System name</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>name</th>
          <th>type</th>
          <th>dependencies</th>
          <th>consumers</th>
        </tr>
      </thead>
      <tbody>
        <tr data-th-each="rel: ${system.componentRelationships}">
          <td data-th-text="${rel.component.name}"></td>
          <td data-th-text="${rel.component.type}"></td>
          <td>
            <ul data-th-each="dependency : ${rel.dependencies}">
              <li data-th-text="|${dependency.component.name} ${dependency.component.type}|"></li>
            </ul>
          </td>
          <td>
            <ul data-th-each="consumer : ${rel.consumers}">
              <li data-th-text="|${consumer.component.name} ${consumer.component.type}|"></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>